
#global {
  background: url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 649px;
  left: 195px;
}



.btn-small, .btn-small.active{
  background: none;
}
#btn1{
  left: 170px;
  top: 363px;
  width: 300px;
  height: 94px;
}
#btn2{
  left: 474px;
  top: 363px;
  width: 300px;
  height: 94px;
}
#btn3{
  left: 775px;
  top: 363px;
  width: 300px;
  height: 94px;
}

.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
  background: transparent url('img/box0.png') no-repeat center;
}
#box2{
  background: transparent url('img/box1.png') no-repeat center;
}
#box3{
  background: transparent url('img/box2.png') no-repeat center;
}