/****************************
             FONTS
****************************/
@charset "UTF-8";

@font-face {
  font-family: 'AcademySans';
  src: url('fonts/AcademySans.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AcademySans.woff') format('woff'), url('fonts/AcademySans.ttf')  format('truetype'), url('fonts/AcademySans.svg#AcademySans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcademySans-Bold';
  src: url('fonts/AcademySans-Bold.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/AcademySans-Bold.woff') format('woff'), url('fonts/AcademySans-Bold.ttf')  format('truetype'), url('fonts/AcademySans-Bold.svg#AcademySans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcademySans-Light';
  src: url('fonts/AcademySans-Light.eot?#iefix') format('embedded-opentype'),  
         url('fonts/AcademySans-Light.woff') format('woff'), 
         url('fonts/AcademySans-Light.ttf')  format('truetype'), 
         url('fonts/AcademySans-Light.svg#AcademySans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* icons menus */


@font-face {
    font-family: "icons";
    src:url("fonts/icons.eot");
    src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
        url("fonts/icons.woff") format("woff"),
        url("fonts/icons.ttf") format("truetype"),
        url("fonts/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
    content: "\61";
}
.icon-2:before {
    content: "\62";
}
.icon-3:before {
    content: "\63";
}
.icon-4:before {
    content: "\64";
}
.icon-5:before {
    content: "\65";
}
.icon-6:before {
    content: "\66";
}
.icon-7:before {
    content: "\67";
}
.icon-8:before {
    content: "\68";
}
.icon-9:before {
    content: "\69";
}
.icon-10:before {
    content: "\6a";
}
.icon-11:before {
    content: "\6b";
}
.icon-12:before {
    content: "\6c";
}


/****************************
             MENU
****************************/
#mainMenu0 {
    position: absolute;
    top: 47%;
    left: 410px;
    width: 60%;
    z-index: 10;
}

#mainMenu0 ul{
    display: flex;
    flex-direction: row;
}

#mainMenu0 ul.nivel-1 li {
    margin: 20px;
    height: 280px;
    width: 300px;
    /* -moz-box-shadow:    inset 0 0 6px #4c4c4c;
    -webkit-box-shadow: inset 0 0 6px #4c4c4c;
    box-shadow:         inset 0 0 6px #4c4c4c; */
}

#mainMenu0 ul li {
    position: relative;
}


#mainMenu0 ul li>span {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#mainMenu0 ul.nivel-1 li>span {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#mainMenu0 ul.nivel-1 li.active {
    color: #fff;
}

.menu-text {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'HelveticaNeue';
    display: block;
}

/* ICONS MENU LATERAL */

#menuLateral{
    position: absolute;
    height: 1180px;
    margin: 0px;
    right: 90px;
    top: 100px;
    z-index: 10;
}

#menuLateral ul{
    display: flex;
    flex-direction: column;
}

#menuLateral li{
    width: 300px;
    height: 270px;
    margin: 0 0 35px 0;
    float: left;
}

.btn-home{
    background: transparent url('img/menu/top/home.png') no-repeat center;
}
.btn-instrucciones {
    background: transparent url('img/menu/top/instrucciones.png') no-repeat center;
}
.btn-referencias {
    background: transparent url('img/menu/top/referencias.png') no-repeat center;
}
.btn-posologia {
    background: transparent url('img/menu/top/posologia_off.png') no-repeat center;
}
.btn-sobre {
    background: transparent url('img/menu/top/sobre.png') no-repeat center;
}

/****************************
          TOPS-ICONS
****************************/
.retina .ic {
    width: 100px;
    height: 80px;
    font-size: 100px;
}

.ic{
    background: transparent;
}

.btn-home{
    background: transparent url('img/menu/top/home.png') no-repeat center;
}
.btn-instrucciones {
    background: transparent url('img/menu/top/instrucciones.png') no-repeat center;
}
.btn-referencias {
    background: transparent url('img/menu/top/referencias.png') no-repeat center;
}
.btn-posologia {
    background: transparent url('img/menu/top/posologia_off.png') no-repeat center;
}
.btn-sobre {
    background: transparent url('img/menu/top/sobre.png') no-repeat center;
}

/****************************
            FOOTER
****************************/
.logo-farma{
    position: absolute;
    background: transparent url('img/footer/logo-farma.png') no-repeat 0 0;
    width: 200px;
    height: 143px;
    bottom: -20px;
    left: 59px;
    background-size: 60%;
}
.logo-marca{
    position: absolute;
    background: transparent url('img/footer/logo-marca.png') no-repeat 0 0;
    width: 228px;
    height: 71px;
    bottom: 48px;
    right: 344px;
}

.text-referencias{
    position: absolute;
    top: 1390px;
    left: 185px;
    font-size: 20px;
    font-family: 'AcademySans-Light';
    font-style: italic;
    
}
.text-referencias b{
    font-family: 'AcademySans-Bold';
}

/****************************
            POPUPS
****************************/
.btn{
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    color: #a4a6a8;
}

.overlay.active{
    opacity: 0.3;
}

.retina .popup {
    width: 1940px;
    height: 1420px;
    top: 4%;
    background: #008993;
    border-radius: 1%;
    left: 2.5%;
}

.btn-close {
    position: absolute;
    top: 6%;
    left: 88%;
    width: 10%;
    height: 10%;
}

#imgPopGloss{
    position: absolute;
    width: 1063px;
    height: 178px;
    top: 661px;
    left: 24%;
    display: none;
}

.popup .btn-tancar {
    top: 18px;
    right: 38px;
    width: 100px;
    height: 90px;
    position: absolute;
    background: transparent url('img/boton_cerrar.png') center no-repeat;
    z-index: 1;
}

#btn_close_popReferencias.btn-tancar{
    background: transparent url('img/boton_cerrar_ref.png') center no-repeat;    
}
/* #popReferencias{
    position: absolute;
    width: 1289px;
    height: 80%;
    left: 689px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 140px;
} */
.btn-popup{
    top: 187px;
    left: 204px;
    width: 105px;
    height: 82px;
    background: transparent url('img/btn-popup.png') center no-repeat;
    position: absolute;
}

.hidden{
    display: none;
}

#imgInstrucciones{
    background: transparent url('img/popups/popup_instrucciones.png') center no-repeat;
    width: 2048px;
    height: 1536px;
    top: -40px;
    position: absolute;
    left: -70px;
}


.imgpopupBig{
    overflow: scroll;
    overflow-x: hidden;
    z-index: 99;
    display: block;
    position: absolute;
    width: 2048px;
    height: 1536px;
}

.overlay.active {
    opacity: 0.6;
}

.disabled{
  opacity: 0.3;
}
/****************************
        SWIPER CONTAINER
****************************/
.swiper-button-next {
    /* background-image: url('img/button/arrow.png'); */
    background-image: none !important;
    top: 43% !important;
    right: 430px;
}

.swiper-button-prev{
    background-image: none !important;
    top: 43% !important;
    left: 95px;
}

/* .swiper-button-next, .swiper-button-prev {
    z-index: -1;
} */

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/****************************
        Animations
****************************/
.btn-small{
    background: transparent url('img/button/btn-small-off.png') center no-repeat;
    width: 211px;
    height: 80px;
    font-family: 'AcademySans-Light';
    text-align: center;
    padding: 20px;
    font-size: 38px;
}
.btn-medium{
    background: transparent url('img/button/btn-medium-on.png') center no-repeat;
    width: 266px;
    height: 66px;
    font-family: 'AcademySans-Light';
    text-align: center;
    font-size: 34px;
    padding: 20px;
}

.btn-small.active{
    background: transparent url('img/button/btn-small-on.png') center no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.btn-medium.active{
    background-image: url('img/button/btn-medium-off.png');
    background-color: transparent;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'AcademySans-Light';
    text-align: center;
    font-size: 34px;
    padding: 20px;
}
.btn .small{
    font-size: 25px;
}

.arrow{
    position: absolute;
    width: 51px;
    height: 22px;
    top: 10px;
    left: 10px;
    background: transparent url('img/arrow.png') center no-repeat;
}
.sex{
    position: absolute;
    width: 81px;
    height: 99px;
    top: 246px;
    left: 50px;
    font-family: 'AcademySans-Light';
}
.sex b{
    font-family: 'AcademySans-Bold';
}
/* Hombre */
.sex-1{
    background: transparent url('img/sex-1.png') center no-repeat;
}
/* Mujer */
.sex-2{
    background: transparent url('img/sex-2.png') center no-repeat;
}
/* Anciano */
.sex-3{
    background: transparent url('img/sex-3.png') center no-repeat;
}
/* Anciana */
.sex-4{
    background: transparent url('img/sex-4.png') center no-repeat;
}
.sex p{
    width: 110px;
    font-size: 26px;
    margin: 48px 0px 40px 90px;
}

/* Grafica */
.btn-grafica-red{
    background: transparent url('img/button/btn-grafica-1.png') center no-repeat;
    width: 126px;
    height: 113px;
}
.btn-grafica-azul{
    background: transparent url('img/button/btn-grafica-2.png') center no-repeat;
    width: 126px;
    height: 113px;
}
.btn-grafica-verde{
    background: transparent url('img/button/btn-grafica-3.png') center no-repeat;
    width: 126px;
    height: 113px;
}
.btn-caso-clinico{
    background: transparent url('img/button/btn-caso-clinico.png') center no-repeat;
    width: 126px;
    height: 113px;    
}
.saber_mas{
 font-family: 'AcademySans-Bold';
 font-size: 20px;
}

.basal{
 font-family: 'AcademySans-Bold';
 font-size: 40px;
 position: absolute;
 top: 84px;
 left: 100px;
 color: #de5a5d;
}
.semana{
 font-family: 'AcademySans-Bold';
 font-size: 40px;
 position: absolute;
 top: 488px;
 left: 20px;
 color: #de5a5d;
}

/* Range Slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 37%;
  margin: -22.2px -25px;
  height: 38px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #e5e5e5; */
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #e82f37;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Bullets */
.bullets{
    position: absolute;
    width: auto;
    height: 22px;
    top: 1340px;
    left: 42%;
    display: inline-block;
}
.bullet{
    background: transparent url('img/bullet.png') center no-repeat;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    opacity: .4;
    margin-right: 15px;
    z-index: -1;
}
.bullet.active{
    opacity: 1;
}

.tab{
    font-family: 'AcademySans-Light';
    width: 279px;
    height: 80px;
    position: absolute;
    left: 170px;
  }
.tab p{
    font-size: 35px;
    text-align: center;
    color: #abadaf;
  }
.tab.active{
    opacity: 1;
    width: 266px;
    height: 66px;
  }
.tab.active p{
    color: white;
}

.imgpopup{
    overflow: scroll;
    overflow-x: hidden;
}