
#global{
    background: url(img/bg.png) center no-repeat;
}
#btn-home{
    top: 1254px;
    left: 1136px;
    width: 260px;
}
.logo-marca{
    position: absolute;
    background: none  !important;
    width: 328px;
    height: 81px;
    bottom: 70px;
    right: 10px;
}

