
#global {
  background: url(img/bg.png) center no-repeat;
}

.btn-popup{
  left: 655px;
  top: 690px;
  background: none;
  width: 105px;
  height: 105px;
}
#btn1{
  left: 1292px;
}
#btn2{
  left: 1292px;
  top: 1240px;
}

.transparent{
  background: transparent !important;
}

.custom-popup{
  width: 2048px;
  height: 1536px;  
  top: 0px;
  right: 0px;
  left: 0px;
}
.overlay.active{
  z-index: 100;
}

.bullets{
  left: 39%;
}