
#global {
  background: url(img/bg.png) center no-repeat;
}

.btn-popup{
  left: 655px;
  top: 690px;
  background: none;
  width: 105px;
  height: 105px;
}
#btn1{
  left: 1580px;
  top: 944px;
}

.bullets{
  left: 39%;
}
.logo-marca{
  display: none;
  
}